[submodule "repo/skin.copacetic"]
	path = repo/skin.copacetic
	url = https://github.com/realcopacetic/skin.copacetic
[submodule "repo/script.copacetic.helper"]
	path = repo/script.copacetic.helper
	url = https://github.com/realcopacetic/script.copacetic.helper
